# Configuration file

##########################################################################################################
# automation_interface
#--------------------------------------------------------------------------------------------------------#
# Settings for the Automation Interface.
##########################################################################################################

automation_interface {
    # Should the Automation Interface be enabled? [default: true]
    B:enabled=true

    # How much FE the Automation Interface should hold. [range: 0 ~ 2147483647, default: 1000000]
    I:energy_capacity=1000000

    # How much FE the Automation Interface should use when moving items. [range: 0 ~ 100000, default: 80]
    I:energy_rate=80

    # Should the Automation Interface render the result item inside it? [default: true]
    B:render_item=true
}


##########################################################################################################
# combination_crafting
#--------------------------------------------------------------------------------------------------------#
# Settings for the Crafting Core.
##########################################################################################################

combination_crafting {
    # Should the Crafting Core and Pedestal be enabled? [default: true]
    B:enabled=true

    # How much FE the Crafting Core should hold. [range: 0 ~ 2147483647, default: 5000000]
    I:energy_capacity=5000000

    # How much FE/t the Crafting Core should use when crafting by default. [range: 0 ~ 2147483647, default: 500]
    I:energy_rate=500
}


##########################################################################################################
# ender_crafting
#--------------------------------------------------------------------------------------------------------#
# Settings for the Ender Crafter.
##########################################################################################################

ender_crafting {
    # How much an Ender Alternator should speed up a craft. This is the percentage of time_required. [range: 0.0 ~ 1.0, default: 0.01]
    S:alternator_effectiveness=0.01

    # Should the Ender Crafter and Ender Alternator be enabled? [default: true]
    B:enabled=true

    # How many seconds each craft should take. [range: 1 ~ 2147483647, default: 60]
    I:time_required=60
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Settings for general things.
##########################################################################################################

general {
    # Should WAILA show the current energy of Extended Crafting machines? [default: true]
    B:energy_in_waila=true

    # Should the In-Game Guide Book be enabled? [default: true]
    B:guide_enabled=true

    # Should the Handheld Crafting Table be enabled? [default: true]
    B:handheld_table_enabled=true
}


##########################################################################################################
# quantum_compression
#--------------------------------------------------------------------------------------------------------#
# Settings for the Quantum Compressor.
##########################################################################################################

quantum_compression {
    # Should the Quantum Compressor be enabled? [default: true]
    B:enabled=true

    # How much FE the Quantum Compressor should hold. [range: 0 ~ 2147483647, default: 10000000]
    I:energy_capacity=10000000

    # How much FE/t the Quantum Compressor should use when crafting by default. [range: 0 ~ 2147483647, default: 5000]
    I:energy_rate=5000

    # Should the Quantum Compressor render the result item above it? [default: true]
    B:render_item=true
}


##########################################################################################################
# recipe_maker
#--------------------------------------------------------------------------------------------------------#
# Settings for the Recipe Maker.
##########################################################################################################

recipe_maker {
    # Should the Recipe Maker be enabled? [default: true]
    B:enabled=true

    # Should the Recipe Maker also copy the NBT of the ingredients? [default: false]
    B:use_nbt=false

    # Should the Recipe Maker use OreDictionary entries when applicable? [default: true]
    B:use_oredictionary=true
}


##########################################################################################################
# singularity
#--------------------------------------------------------------------------------------------------------#
# Settings for the Singularities.
##########################################################################################################

singularity {
    # Here you can add your own custom Singularities.
    # - Syntax: meta;name;material;color
    # - Example: 12;super_potato;minecraft:carrot;123456
    # - 'meta' must be different for each, and should not be changed.
    # - 'name' should be lower case with underscores for spaces. Singularity is added automatically.
    # - Example: 'lots_of_spaghetti' would show 'Lots Of Spaghetti Singularity'.
    # - 'material' is an item id or ore dictionary entry. This is for the generic crafting recipe.
    # - Note: if you plan on adding your own recipe with the CraftTweaker integration, put 'none'.
    # - Examples: 'minecraft:stone' for stone, 'ore:ingotIron' for the ore dictionary entry 'ingotIron'.
    # - Note: you can also specify meta for item ids, by adding them to the end of the item id.
    # - Example: minecraft:stone:3 for a meta of 3. Make the meta 32767 for wildcard value.
    # - 'color' the color of the singularity as a hex value. http://htmlcolorcodes.com/
    # - Example: 123456 would color it as whatever that color is.
    S:custom_singularities <
        0;fusionite;tconmaterial:ingotfusionite;6699ff
        1;nether_rime;netherex:rime_crystal;80aaff
        2;lavium;tinkers_reforged:lavium_ingot;446600
        3;valkyrie;tinkersaether:valkyrie_ingot;ffffcc
        4;neutronium;avaritia:resource:4;404040
        5;wavic;waveymod:wavyingot;ff3300
        6;sinisterium;tinkerscompendium:ingot_sinisterium;1a0600
        7;rubracium;metallurgy:rubracium_ingot;ff4d4d
        8;scarlite;defiledlands:scarlite;ff0000
        9;ender_biotite;quark:biotite;000000
        10;vibranium;lucraftcore:ingot_vibranium;e6f2ff
        11;netherite;netherbackport:netheriteingot;363030
        12;intertium;lucraftcore:ingot_intertium;a85757
        13;chlorophyte;termat:chlorophyte_ingot;336600
        14;draconium;draconicevolution:draconium_ingot:0;850cdc
        15;certus_quartz;appliedenergistics2:material;99ccff
        16;unstable;ore:ingotUnstable;ffffff
        17;diamatine;actuallyadditions:item_crystal;99ccff
        18;umbrium;defiledlands:umbrium_ingot;660066
        19;demon_metal;extrautils2:ingredients:11;ff3300
        20;solar_steel;tconmaterial:ingotsolarsteel;ff9900
        21;tritanium;matteroverdrive:tritanium_ingot:0;3b4b57
        22;nihilite;tinkerscompendium:ingot_nihilite;00001a
        23;void_metal;thaumcraft:ingot:1;1f004d
        24;glowstone;mekanism:ingot:3;ffcc00
        25;void_crystal;actuallyadditions:item_crystal:3;000000
        26;dawnstone;embers:ingot_dawnstone;e68a00
        27;hephaestite;defiledlands:hephaestite;b32d00
        28;trilithium;matteroverdrive:trilithium_crystal:0;1cc9f1
        29;osgloglas;plustic:osgloglasingot:0;0af817
        30;aeonsteel;tinkerscompendium:ingot_aeonsteel;8600b3
        31;pure_evil;waveymod:pure_evilingot;ff6666
        32;pulsaton;contenttweaker:pulsating_gem;e6e600
        33;penguinite;tconmaterial:ingotpenguinite;e6ffff
        34;dilithium;libvulpes:productgem;fff0f0
        35;dwarf_star_alloy;lucraftcore:ingot_dwarf_star_alloy;4d4d4d
        36;ironwood;twilightforest:ironwood_ingot;baa987
        37;stellar;enderio:item_alloy_endergy_ingot:3;ffffcc
        38;supremium;mysticalagriculture:crafting:37;ff0000
        39;glacidite;glacidus:glacidite_fragment;99ccff
        40;thaumium;thaumcraft:ingot;9900ff
        41;ambrosium;aether_legacy:ambrosium_shard;cccc00
        42;zanite;aether_legacy:zanite_gemstone;9900cc
        43;pig_iron;tconstruct:ingots:4;ff99cc
        44;starmetal;astralsorcery:itemcraftingcomponent:1;000066
     >

    # The catalyst required for the default Singularity recipes. modid:itemid:metadata [default: extendedcrafting:material:11]
    S:default_catalyst=extendedcrafting:material:13

    # Should the default Singularity recipes be enabled? [default: true]
    B:default_recipes=true

    # Disable specific default singularities here.
    S:default_singularities <
        coal=true
        iron=true
        lapis_lazuli=true
        redstone=true
        glowstone=false
        gold=true
        diamond=true
        emerald=true
        aluminum=true
        copper=true
        tin=true
        bronze=true
        zinc=true
        brass=true
        silver=true
        lead=true
        steel=true
        nickel=true
        constantan=true
        electrum=true
        invar=true
        mithril=true
        tungsten=true
        titanium=true
        uranium=true
        chrome=false
        platinum=true
        iridium=true
        signalum=true
        lumium=true
        enderium=true
        ardite=true
        cobalt=true
        manyullyn=true
     >

    # Should the Singularities be enabled? [default: true]
    B:enabled=true

    # The amount of RF required to craft a Singularity, for the default recipes. [range: 0 ~ 2147483647, default: 5000000]
    I:energy_cost=5000000

    # The amount of materials required to create a Singularity, for the default recipes. [range: 1 ~ 2147483647, default: 10000]
    I:material_amount=10000

    # Should the default Ultimate Singularity recipe be enabled? [default: true]
    B:ultimate_singularity_recipe=true

    # Blacklist Singularities from being in the Ultimate Singularity crafting recipe.
    # - Syntax: singularityType;meta
    # - 'singularityType' can be 'default' or 'custom'.
    # - 'default' for the ones added by the mod by default, 'custom' being the ones defined in '_custom_singularities'.
    # - Example: custom;12
    S:ultimate_singularity_recipe_blacklist <
     >
}


##########################################################################################################
# table_crafting
#--------------------------------------------------------------------------------------------------------#
# Settings for the Extended Crafting Tables.
##########################################################################################################

table_crafting {
    # Should the Extended Crafting Tables be enabled? [default: true]
    B:enabled=true

    # Should the Basic Crafting Table inherit normal crafting recipes? [default: true]
    B:inherit_vanilla_recipes=true
}


